{% extends "register_base.html" %}

{% block title %}Candidate Signup{% endblock %}

{% block content %}
<div class="div-center-large">
    <div class="content">
        <h3>Signup</h3>
        <hr />
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_signup-username">Username</label>
                {{ form.username }}
                {% if username_err %}
                <div style="color: red;">
                    {{ username_err }}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_signup-password1">Password</label>
                {{ form.password1 }}
                {% if password1_err %}
                <div style="color: red;">
                    {{ password1_err }}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_signup-password2">Re-enter Password</label>
                {{ form.password2 }}
                {% if password2_err %}
                <div style="color: red;">
                    {{ password2_err }}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_signup-profile_type">Profile Type</label>
                <div class = "form-check form-check-inline">
                    {% for radio in form.profile_type %}
                        {{ radio.tag }}
                        <label class="form-check-label" for ="{{ radio.id_for_label }}"> {{ radio.choice_label }} </label>
                    {% endfor %}
                </div>
               
                
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
            <a href="/register/login"  class="btn btn-link" role="button">Back to Login</a>
      </form>
    </div>
    </span>
</div>

{% endblock %}